@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* globals.css */
:root {
  --font-newsreader: 'Newsreader', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
}

.font-newsreader {
  font-family: var(--font-newsreader);
}

.font-manrope {
  font-family: var(--font-manrope);
}
